.user-orders {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: -550px;
  margin-left: 300px;
}

.order-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

.order-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0;
}

h4 {
  margin: 10px 0 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is on top */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
